<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
    Access-Control-Allow-Origin: *

<dom-module id="my-admin">
    <template>
    <style>
:host {
  display: block;
}
</style>
<div class="container">

    <div class="card">
        <h1>Registro</h1>
        <p>Registrar Usuario</p>
        <label>Email  </label><input name="email" type="email" value="{{email::input}}"><br>
        <label>Nombre  </label><input name="nombre" type="text" value="{{nombre::input}}"><br>
        <label>Cuenta Asociada  </label><input name="cuenta" type="text" value="{{cuenta::input}}"><br>
        <label>Contraseña  </label><input name="password" type="text" value="{{password::input}}"><br>
        <button on-click="register">Registrar</button>
    </div>
    <label id="resp"></label>

    </div>

    <iron-ajax
            id="doRegister"
            url="http://ec2-3-12-197-13.us-east-2.compute.amazonaws.com:3000/user"
            content-type="application/json"
            crossDomain:true
            dataType="jsonp"
            method="POST"
            handle-as="json"
            headers="Access-Control-Allow-Headers: *"
            on-response="manageAJAXResponse"
            on-error="showError"></iron-ajax>

    </div>

    </template>

    <script>
    /**
     * @customElement
     * @polymer
     */
    class MyAdmin
        extends Polymer.Element {
      static get is() { return 'my-admin'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type: String
          },
          nombre:{
            type: String
          },
          user:{
            type: String,
              value: "u"
          },
          cuenta:{
            type: String
          },
          responseL:{
            type: String,
              value: ""
          }
        };

      }
      hashCode = function(s){
        return s.split("").reduce(function(a,b){a=((a<<5)-a)+b.charCodeAt(0);return a&a},0);
      }
      register(){
        //var loginData = '{"email":"' + this.email + '","password":"' + this.password + '"}';
        var pasH = this.hashCode(this.password)
        //var loginData = {"email" : this.email ,"password" : pasH.toString()};
        var registerData = {
            "password": pasH.toString(),
            "tipo": this.user,
            "nombre": this.nombre,
            "email": this.email,
            "cuenta_padre": this.cuenta
        };
        console.log(registerData)
        this.$.doRegister.body = JSON.stringify(registerData);
        console.log(this.$.doRegister.body)
        this.$.doRegister.generateRequest();
        console.log('Petición enviada');
      }
      manageAJAXResponse(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);
        let respuesta = Polymer.dom(this.root).querySelector("#resp");
        respuesta.innerHTML = "El usuario " + data.detail.response + "se ha registrado correctamente"
      }
      showError(error){
        console.log('Hubo un error');
        console.log('Error intente otra vez por favor')
        console.log(error);
          let respuesta = Polymer.dom(this.root).querySelector("#resp");
          respuesta.innerHTML = "El usuario ya existe"
      }
    }

window.customElements.define(MyAdmin
    .is, MyAdmin
);
</script>
</dom-module>

