<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

    Access-Control-Allow-Origin: *

<dom-module id="my-account">
    <template>
    <style>
:host {
  display: block;
}
</style>
<div class="container">
    <div>
        <h1>Cuenta</h1>
        <input type="hidden" id="hdnUSr" data-value="@Request.RequestContext.HttpContext.Session['id_usr']" />
        <input type="hidden" id="hdnCuenta" data-value="@Request.RequestContext.HttpContext.Session['id_cuenta']" />
        <button on-click="movimientos" name="button" class="btn btn-success">Actualizar</button>
        <p>Movimientos</p>
        <table><thead>
        <th>Tipo</th>
        <th>Concepto</th>
        <th>Fecha</th>
        <th>Monto</th>
        </thead>
            <tbody id="movimiento"></tbody>
        </table>
        <iron-ajax
                id="doMovimientos"
                url="http://ec2-3-12-197-13.us-east-2.compute.amazonaws.com:3000/movimientos"
                content-type="application/json"
                crossDomain:true
                dataType="jsonp"
                method="POST"
                handle-as="json"
                headers="Access-Control-Allow-Headers: *"
                on-response="manageAJAXResponse"
                on-error="showError"></iron-ajax>

    </div>

</div>
</div>
    </template>

    <script>
    /**
     * @customElement
     * @polymer
     */
    class MyAccount
        extends Polymer.Element {
      static get is() { return 'my-account'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type: String
          },
          logado:{
            type: Boolean,
            value:false
          }
        };

      }

      movimientos(){
        var loginData = {"id_cuenta" : window.sessionStorage.getItem('usrID')};
        console.log(loginData)
        this.$.doMovimientos.body = JSON.stringify(loginData);
        console.log(this.$.doMovimientos.body)
        this.$.doMovimientos.generateRequest();
        console.log('Petición enviada');
      }
      manageAJAXResponse(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);

            //  let tabla = document.getElementById("movimiento");
          let tabla = Polymer.dom(this.root).querySelector("#movimiento");

          let renglones = '';

              data.detail.response.forEach((e) => {
                  let fhs = e.fecha.split("T");
                  renglones += `<tr><td>${e.tipo}</td><td>${e.concepto}</td><td>${fhs[0]}</td><td>${e.monto}</td></tr>`;
              });
          console.log(renglones);
          tabla.innerHTML = renglones;
      }
      showError(error){
        console.log('Hubo un error');
        console.log('Datos ingresados incorrectos, por favor verifique')
        console.log(error);
      }
    }

window.customElements.define(MyAccount
    .is, MyAccount
);
</script>
</dom-module>

