<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

    Access-Control-Allow-Origin: *

<dom-module id="my-goal">
    <template>
    <style>
:host {
  display: block;
}
</style>
<div class="container">

    <div class="card">
        <h1>Metas</h1>
        <br>
        <table><thead>
        <th>ID Meta</th>
        <th>Titulo</th>
        <th>Meta</th>
        <th>Saldo</th>
        <th>Fecha Inicio</th>
        <th>Fecha fin</th>
        <th>Fecha Ultimo deposito</th>
        </thead>
            <tbody id="metass"></tbody>
        </table><br>
        <button on-click="metas">Actualizar</button><br>


        <iron-ajax
                id="doMetas"
                url="http://ec2-3-12-197-13.us-east-2.compute.amazonaws.com:3000/metas"
                content-type="application/json"
                crossDomain:true
                dataType="jsonp"
                method="POST"
                handle-as="json"
                headers="Access-Control-Allow-Headers: *"
                on-response="manageAJAXResponse"
                on-error="showError"></iron-ajax>
        <br><p>Registra una meta nueva</p><br>
        <label>Titulo</label><input type="text" value="{{titulo::input}}"><br>
        <label>Meta</label><input type="number" value="{{metaM::input}}"><br>
        <label>Inicio</label><input type="date" value="{{inicio::input}}"><br>
        <label>Fin</label><input type="date" value="{{fin::input}}"><br>
        <label>Lapso</label><input type="number" value="{{lapso::input}}"><br>


        <button on-click="registraMeta">Registrar</button><br>

        <label>ID Meta</label><input type="text" value="{{email::id}}"><br>
        <button on-click="borraMeta">Borrar</button><br>
        <label id="resp"></label>
        <iron-ajax
                id="doRegMetas"
                url="http://ec2-3-12-197-13.us-east-2.compute.amazonaws.com:3000/meta"
                content-type="application/json"
                crossDomain:true
                dataType="jsonp"
                method="POST"
                handle-as="json"
                headers="Access-Control-Allow-Headers: *"
                on-response="manageAJAXResponse"
                on-error="showError"></iron-ajax>
        <iron-ajax
                id="doDelMetas"
                url="http://ec2-3-12-197-13.us-east-2.compute.amazonaws.com:3000/meta/retiro"
                content-type="application/json"
                crossDomain:true
                dataType="jsonp"
                method="POST"
                handle-as="json"
                headers="Access-Control-Allow-Headers: *"
                on-response="manageAJAXResponse"
                on-error="showError"></iron-ajax>
    </div>
</div>
</div>
    </template>

    <script>
    /**
     * @customElement
     * @polymer
     */
    class MyGoal
        extends Polymer.Element {
      static get is() { return 'my-goal'; }
      static get properties() {
        return {
            titulo: {
                type: String
            },
            metaM:{
                type: String
            },
            inicio:{
                type: String
            },
            fin:{
                type: String
            },
            lapso:{
                type: String
            },
            id:{
                type: String
            },
            cuenta:{
                type: String
            },
            saldo:{
                type: String,
                value: "0"
            },
            registro:{
                type: Boolean,
                value: false
            },
            borraMe:{
                type: Boolean,
                value: false
            }

        };

      }

      metas() {
        var loginData = {'id_meta': window.sessionStorage.getItem('usrID')};
        console.log(loginData);
        this.$.doMetas.body = JSON.stringify(loginData);
        console.log(this.$.doMetas.body);
        this.$.doMetas.generateRequest();
        console.log('Petición enviada');
      }

        borraMeta() {
            var loginData = {'id_meta': window.sessionStorage.getItem('usrID'),'id_cuenta':window.sessionStorage.getItem('usrID')};
            console.log(loginData);
            this.$.doDelMetas.body = JSON.stringify(loginData);
            console.log(this.$.doDelMetas.body);
            this.$.doDelMetas.generateRequest();
            console.log('Petición enviada');
            this.borraMe = true;
        }

        registraMeta() {
            var loginData = {
                "id_usr" : window.sessionStorage.getItem("usrID"),
                "id_cuenta" : window.sessionStorage.getItem("usrID"),
                "titulo" : this.titulo,
                "fecha_inicio" : this.inicio,
                "fecha_fin" : this.fin,
                "meta" : this.metaM,
                "saldo" : this.saldo,
                "lapso" : this.lapso
            };
            console.log(loginData);
            this.$.doRegMetas.body = JSON.stringify(loginData);
            console.log(this.$.doRegMetas.body);
            this.$.doRegMetas.generateRequest();
            console.log('Petición enviada');
            this.registro = true;
        }

      manageAJAXResponse(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);
          //  let tabla = document.getElementById("movimiento");
          let tabla = Polymer.dom(this.root).querySelector("#metass");

          let renglones = '';

          let e = data.detail.response;
          let fhsI = e.fecha_inicio.split("T");
          let fhsF = e.fecha_fin.split("T");
          let fhsR = e.fecha_rec.split("T");

          renglones += `<tr><td>${e.id_meta}</td><td>${e.titulo}</td><td>${e.meta}</td><td>${e.saldo}</td><td>${fhsI[0]}</td><td>${fhsF[0]}</td><td>${fhsR[0]}</td></tr>`;

          console.log(renglones);
          tabla.innerHTML = renglones;
          let respuesta = Polymer.dom(this.root).querySelector("#resp");
          respuesta.innerHTML = ""
          if(this.registro) {
              respuesta.innerHTML = "Se registro la meta correctamente"
              this.registro = false
          }
          if(this.borraMe) {
              respuesta.innerHTML = "Se elimino la meta correctamente"
              this.borraMe = false
          }
      }
      showError(error){
        console.log('Hubo un error');
        console.log('Datos ingresados incorrectos, por favor verifique')
          let respuesta = Polymer.dom(this.root).querySelector("#resp");
          respuesta.innerHTML = ""
        console.log(error);
        if(this.registro) {
            respuesta.innerHTML = "El usuario ya tiene una meta activa"
            this.registro = false;
        }
          if(this.borraMe) {
              respuesta.innerHTML = "El usuario no tiene una meta activa"
              this.borraMe = false;
          }
      }
    }

window.customElements.define(MyGoal
    .is, MyGoal
);
</script>
</dom-module>

