
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

Access-Control-Allow-Origin: *


<dom-module id="my-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row" hidden$="{{logado}}">
        <h1>Ingrese o Regístrese en la app</h1><br>
        Email: <input type="email" value={{email::input}}><br>
        Contraseña: <input type="password" value={{password::input}}><br>
        <button on-click="login" name="button" class="btn btn-success">Login</button>
      </div>
      <div class="row" hidden$="{{!logado}}">
        <h1>Bienvenido a la aplicación</h1>
      </div>
    </div>
    <iron-ajax
            id="doLogin"
            url="http://ec2-3-12-197-13.us-east-2.compute.amazonaws.com:3000/login"
            content-type="application/json"
            crossDomain:true
            dataType="jsonp"
            method="POST"
            handle-as="json"
            headers="Access-Control-Allow-Headers: *"
            on-response="manageAJAXResponse"
            on-error="showError"></iron-ajax>
  </template>

  <script>
    class MyLogin extends Polymer.Element {
      static get is() { return 'my-login'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type: String
          },
          logado:{
            type: Boolean,
            value:false
          }
        };

      }
      hashCode = function(s){
        return s.split("").reduce(function(a,b){a=((a<<5)-a)+b.charCodeAt(0);return a&a},0);
      }
      login(){
        //var loginData = '{"email":"' + this.email + '","password":"' + this.password + '"}';
        var pasH = this.hashCode(this.password)
        var loginData = {"email" : this.email ,"password" : pasH.toString()};
        console.log(loginData)
        this.$.doLogin.body = JSON.stringify(loginData);
        console.log(this.$.doLogin.body)
        this.$.doLogin.generateRequest();
        console.log('Petición enviada');
      }
      manageAJAXResponse(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);
        this.logado = true;
        window.sessionStorage.setItem("usrID",data.detail.response.id_usr)
      }
      showError(error){
        console.log('Hubo un error');
        console.log('Datos ingresados incorrectos, por favor verifique')
        console.log(error);
      }
    }

    window.customElements.define(MyLogin.is, MyLogin);
  </script>
</dom-module>
