<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

    Access-Control-Allow-Origin: *

<dom-module id="my-menu">
    <template>
    <style>
:host {
  display: block;
}
</style>
<div class="container">
    <app-drawer-layout fullbleed="" narrow="{{narrow}}">
        <!-- Drawer content -->
        <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
            <app-toolbar>Menu</app-toolbar>
            <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                <a name="login" href="[[rootPath]]login">Login</a>
                <a name="account" href="[[rootPath]]account">Cuenta</a>
                <a name="admin" href="[[rootPath]]admin">Registro</a>
                <a name="goal" href="[[rootPath]]goal">Metas</a>
                <a name="salespoint" href="[[rootPath]]salespoint">Movimientos</a>
                <a name="section" href="[[rootPath]]sections">Apartados</a>
            </iron-selector>
        </app-drawer>
</app-drawer-layout>
</div>
</div>
    </template>

    <script>
    /**
     * @customElement
     * @polymer
     */
    class MyMenu
        extends Polymer.Element {
      static get is() { return 'my-menu'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type: String
          },
          logado:{
            type: Boolean,
            value:false
          }
        };

      }
      hashCode = function(s){
        return s.split("").reduce(function(a,b){a=((a<<5)-a)+b.charCodeAt(0);return a&a},0);
      }
      login(){
        //var loginData = '{"email":"' + this.email + '","password":"' + this.password + '"}';
        var pasH = this.hashCode(this.password)
        var loginData = {"email" : this.email ,"password" : pasH.toString()};
        console.log(loginData)
        this.$.doLogin.body = JSON.stringify(loginData);
        console.log(this.$.doLogin.body)
        this.$.doLogin.generateRequest();
        console.log('Petición enviada');
      }
      manageAJAXResponse(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);
        this.logado = true;
      }
      showError(error){
        console.log('Hubo un error');
        console.log('Datos ingresados incorrectos, por favor verifique')
        console.log(error);
      }
    }

window.customElements.define(MyMenu
    .is, MyMenu
);
</script>
</dom-module>

