<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

    Access-Control-Allow-Origin: *

<dom-module id="my-salespoint">
    <template>
    <style>
:host {
  display: block;
}
</style>
<div class="container">


    <div class="card">
        <h1>Registro Movimientos</h1>
        <label>Concepto</label><input type="text" value="{{concepto::input}}"><br>
        <label>monto</label><input type="number" value="{{monto::input}}"><br>
        <button on-click="cargo">Cargo</button><br>
        <button on-click="abono">Abono</button>
        <label id="resp"></label>
        <iron-ajax
                id="doCargo"
                url="http://ec2-3-12-197-13.us-east-2.compute.amazonaws.com:3000/cuenta/cargo"
                content-type="application/json"
                crossDomain:true
                dataType="jsonp"
                method="POST"
                handle-as="json"
                headers= "Access-Control-Allow-Headers: *"
                on-response="manageAJAXResponse"
                on-error="showError"></iron-ajax>
        <iron-ajax
                id="doAbono"
                url="http://ec2-3-12-197-13.us-east-2.compute.amazonaws.com:3000/cuenta/abono"
                content-type="application/json"
                crossDomain:true
                dataType="jsonp"
                method="POST"
                handle-as="json"
                headers="Access-Control-Allow-Headers: *"
                on-response="manageAJAXResponse"
                on-error="showError"></iron-ajax>
    </div>

</div>
</div>
    </template>

    <script>
    /**
     * @customElement
     * @polymer
     */
    class MySalespoint
        extends Polymer.Element {
      static get is() { return 'my-salespoint'; }
      static get properties() {
        return {
          concepto: {
            type: String
          },
          monto:{
            type: String
          },
          cargoB:{
            type: Boolean,
            value:false
          }

        };

      }

      cargo(){
        var loginData = {
            "id_cuenta" : window.sessionStorage.getItem("usrID"),
            "concepto" : this.concepto,
            "monto" : this.monto
        }

        console.log(loginData)
        this.$.doCargo.body = JSON.stringify(loginData);
        console.log(this.$.doCargo.body)
        this.$.doCargo.generateRequest();
        console.log('Petición enviada');
        this.cargoB = true;
      }

        abono(){
            var loginData = {
                "id_cuenta" : window.sessionStorage.getItem("usrID"),
                "concepto" : this.concepto,
                "monto" : this.monto
            }

            console.log(loginData)
            this.$.doAbono.body = JSON.stringify(loginData);
            console.log(this.$.doAbono.body)
            this.$.doAbono.generateRequest();
            console.log('Petición enviada');
            this.cargoB = false;
        }

      manageAJAXResponse(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);
          let respuesta = Polymer.dom(this.root).querySelector("#resp");
          if(this.cargoB){
            respuesta.innerHTML = "El cargo se ha registrado correctamente"
              this.cargoB = false;
        }else {
              respuesta.innerHTML = "El abono se ha registrado correctamente"
          }
      }
      showError(error){
        console.log('Hubo un error');
        console.log('Datos ingresados incorrectos, por favor verifique')
        console.log(error);
          let respuesta = Polymer.dom(this.root).querySelector("#resp");
          if(this.cargoB) {
              respuesta.innerHTML = "El cargo no se ha registrado correctamente"
              this.cargoB = false;
          }else {
              respuesta.innerHTML = "El abono no se ha registrado correctamente"
          }
      }
    }

window.customElements.define(MySalespoint
    .is, MySalespoint
);
</script>
</dom-module>

