<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

    Access-Control-Allow-Origin: *

<dom-module id="my-sections">
    <template>
    <style>
:host {
  display: block;
}
</style>

    <div class="card">
        <h1>Apartados</h1>
        <button on-click="actualizar">Actualizar</button>
        <p>Ahorrro</p>
        <label>Saldo</label><label id="saldoA"></label><br>
        <label>Monto</label><input type="number" value="{{montoA::input}}">
        <button on-click="cargoA">Cargo</button>
        <button on-click="abonoA">Abono</button>
        <p>Gastos</p>
        <label>Saldo</label><label id="saldoG"></label><br>
        <label>Monto</label><input type="number" value="{{montoG::input}}">
        <button on-click="cargoG">Cargo</button>
        <button on-click="abonoG">Abono</button>
    </div>
        <iron-ajax
                id="doSaldo"
                url="http://ec2-3-12-197-13.us-east-2.compute.amazonaws.com:3000/apartados"
                content-type="application/json"
                crossDomain:true
                dataType="jsonp"
                method="POST"
                handle-as="json"
                headers="Access-Control-Allow-Headers: *"
                on-response="manageAJAXResponseAct"
                on-error="showErrorAct"></iron-ajax>
        <iron-ajax
                id="doCargoA"
                url="http://ec2-3-12-197-13.us-east-2.compute.amazonaws.com:3000/cuenta/apartadoA/cargo"
                content-type="application/json"
                crossDomain:true
                dataType="jsonp"
                method="POST"
                handle-as="json"
                headers= "Access-Control-Allow-Headers: *"
                on-response="manageAJAXResponse"
                on-error="showError"></iron-ajax>
        <iron-ajax
                id="doAbonoA"
                url="http://ec2-3-12-197-13.us-east-2.compute.amazonaws.com:3000/apartadoA/abono"
                content-type="application/json"
                crossDomain:true
                dataType="jsonp"
                method="POST"
                handle-as="json"
                headers= "Access-Control-Allow-Headers: *"
                on-response="manageAJAXResponse"
                on-error="showError"></iron-ajax>
        <iron-ajax
                id="doCargoG"
                url="http://ec2-3-12-197-13.us-east-2.compute.amazonaws.com:3000/apartadoG/cargo"
                content-type="application/json"
                crossDomain:true
                dataType="jsonp"
                method="POST"
                handle-as="json"
                headers= "Access-Control-Allow-Headers: *"
                on-response="manageAJAXResponse"
                on-error="showError"></iron-ajax>
        <iron-ajax
                id="doAbonoG"
                url="http://ec2-3-12-197-13.us-east-2.compute.amazonaws.com:3000/apartadoG/abono"
                content-type="application/json"
                crossDomain:true
                dataType="jsonp"
                method="POST"
                handle-as="json"
                headers= "Access-Control-Allow-Headers: *"
                on-response="manageAJAXResponse"
                on-error="showError"></iron-ajax>

</div>
</div>
    </template>

    <script>
    /**
     * @customElement
     * @polymer
     */
    class MySections
        extends Polymer.Element {
      static get is() { return 'my-sections'; }
      static get properties() {
        return {
          montoA: {
            type: String
          },
          montoG:{
            type: String
          },
          logado:{
            type: Boolean,
            value:false
          }
        };

      }

        actualizar(){
            var loginData = {"id_usr" : window.sessionStorage.getItem('usrID')};
            console.log(loginData)
            this.$.doSaldo.body = JSON.stringify(loginData);
            console.log(this.$.doSaldo.body)
            this.$.doSaldo.generateRequest();
            console.log('Petición enviada');
        }


        cargoA(){
            var loginData = {
                "id_apartado" : window.sessionStorage.getItem("usrID"),
                "id_cuenta" : window.sessionStorage.getItem("usrID"),
                "monto" : this.monto
            }

            console.log(loginData)
            this.$.doCargoA.body = JSON.stringify(loginData);
            console.log(this.$.doCargoA.body)
            this.$.doCargoA.generateRequest();
            console.log('Petición enviada');
        }

        abonoA(){
            var loginData = {
                "id_apartado" : window.sessionStorage.getItem("usrID"),
                "id_cuenta" : window.sessionStorage.getItem("usrID"),
                "monto" : this.monto
            }

            console.log(loginData)
            this.$.doAbonoA.body = JSON.stringify(loginData);
            console.log(this.$.doAbonoA.body)
            this.$.doAbonoA.generateRequest();
            console.log('Petición enviada');
        }

        cargoG(){
            var loginData = {
                "id_apartado" : window.sessionStorage.getItem("usrID"),
                "id_cuenta" : window.sessionStorage.getItem("usrID"),
                "monto" : this.monto
            }

            console.log(loginData)
            this.$.doCargoG.body = JSON.stringify(loginData);
            console.log(this.$.doCargoG.body)
            this.$.doCargoG.generateRequest();
            console.log('Petición enviada');
            this.cargoB = true;
        }

        abonoG(){
            var loginData = {
                "id_apartado" : window.sessionStorage.getItem("usrID"),
                "id_cuenta" : window.sessionStorage.getItem("usrID"),
                "monto" : this.monto
            }

            console.log(loginData)
            this.$.doAbonoG.body = JSON.stringify(loginData);
            console.log(this.$.doAbonoG.body)
            this.$.doAbonoG.generateRequest();
            console.log('Petición enviada');
            this.cargoB = false;
        }


      manageAJAXResponseAct(data){
        console.log('Respuesta recibida del servidor');
        console.log(data.detail.response);

          let salditoA = Polymer.dom(this.root).querySelector("#saldoA");
          salditoA.innerHTML = data.detail.response[0].aps[0].saldo;
          let salditoG = Polymer.dom(this.root).querySelector("#saldoG");
          salditoG.innerHTML = data.detail.response[0].aps[1].saldo;

        this.logado = true;
      }
      showErrorAct(error){
        console.log('Hubo un error');
        console.log('Datos ingresados incorrectos, por favor verifique')
        console.log(error);
      }

      manageAJAXResponse(data){
            console.log('Respuesta recibida del servidor');
            console.log(data.detail.response);
            this.logado = true;
        }

        showError(error){
            console.log('Hubo un error');
            console.log('Datos ingresados incorrectos, por favor verifique')
            console.log(error);
        }
    }

window.customElements.define(MySections
    .is, MySections
);
</script>
</dom-module>

